.auth-banner{
    width: 100%;
    height: 100vh;
    background:url('../images/bitcoin-hero.jpg') no-repeat 100% 100%;
    background-size:cover;
}
.auth-banner .logo{
    position: relative;
    top: 0;
    left: 0;
    margin: 5px;
    height: 35px;
}
.logo-alt{
    height: 35px;
    display: none;
}
.login-parent{
    position: relative;
}
